@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles untuk match design */
.font-sans {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

/* Mengatur font default untuk seluruh body (Opsional tapi disarankan) */
body {
  font-family: 'Poppins', sans-serif;
}

/* Hapus semua styling default button */
button {
  appearance: none;
  -webkit-appearance: none;
}

/* Hapus outline pada input saat focus */
input:focus {
  outline: none;
}


@keyframes putar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Tambahkan ring custom */
.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.input {
  @apply w-full border border-gray-300 rounded-full px-4 py-2 text-sm;
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}

.animate-pop {
  animation: pop 0.4s ease-out;
} 